USE [master]
GO
/****** Object:  Database [Test_DB]    Script Date: 3/21/2016 1:54:36 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Test_DB')
BEGIN
CREATE DATABASE [Test_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test_DB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Test_DB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Test_DB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Test_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test_DB]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 3/21/2016 1:54:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contacts]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[SecondName] [varchar](50) NOT NULL,
	[ThirdName] [varchar](50) NULL,
	[IdTelephone] [int] NOT NULL,
	[Address] [nchar](10) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Telephones]    Script Date: 3/21/2016 1:54:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Telephones]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Telephones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Telephone_Number] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Telephones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [FirstName], [SecondName], [ThirdName], [IdTelephone], [Address]) VALUES (1, N'Roman', N'Nikolaev', N'Ramen', 1, N'Tambov    ')
INSERT [dbo].[Contacts] ([Id], [FirstName], [SecondName], [ThirdName], [IdTelephone], [Address]) VALUES (2, N'Ivan', N'Pikyle', N'Pin', 2, N'Saratov   ')
INSERT [dbo].[Contacts] ([Id], [FirstName], [SecondName], [ThirdName], [IdTelephone], [Address]) VALUES (3, N'Koly', N'Oblomov', N'Pong', 3, N'Samara    ')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[Telephones] ON 

INSERT [dbo].[Telephones] ([Id], [Telephone_Number]) VALUES (1, N'9558645')
INSERT [dbo].[Telephones] ([Id], [Telephone_Number]) VALUES (2, N'96275848')
INSERT [dbo].[Telephones] ([Id], [Telephone_Number]) VALUES (3, N'9111511')
SET IDENTITY_INSERT [dbo].[Telephones] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Contacts_ToTelephones]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contacts]'))
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_Contacts_ToTelephones] FOREIGN KEY([IdTelephone])
REFERENCES [dbo].[Telephones] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Contacts_ToTelephones]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contacts]'))
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_Contacts_ToTelephones]
GO
USE [master]
GO
